@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:wght@900&family=Comforter+Brush&display=swap');

:root {
    --cinza: #505050
}

body {
    background: rgb(255, 232, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}

.container {
    max-width: 900px;
    margin: auto;
}

.photo {
    border: 0, 5px solid var(--cinza);
    border-radius: 50%;
}

#title, .subtitle, .post_title {
    color: darkblue;
}

#title {
    font-size: 40px;
    text-transform: uppercaselow;
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: underline;
    color: var(--cinza);
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;

}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid var(--cinza);
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
    font-family: 'Comfortaa', cursive;

}

.post_image {
    margin-bottom: 15px;
    width: 100%;

}

.contacts_list {
    display: flex;
    justify-content: center;
}

.contacts_list span a {
    color: darkmagenta;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    transition: .3s ease-in;
}

.contacts_list span a:hover {
    color: var(--cinza);
    font-size: 25px;
}

.author {
    text-align: right;
}

.post-footer {
    display: flex;
    justify-content: space-between;
}

.post-footer .signature {
    font-family: 'Comforter Brush', cursive;
    font-size: 25px;
    font-weight: 300;
}

footer {
    position: relative;
    bottom: 0;
    background-color: darkmagenta;
    width: 100%;
    color: #fff;
    height: 50px;
}

footer p {
    text-align: center;
    padding-top: 10px;
}

.heart {
    color: red;
}